$RECYCLE.BIN/
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.bak
*.cab
*.diff
*.env
*.gho
*.lnk
*.msi
*.msix
*.msm
*.msp
*.ori
*.orig
*.patch
*.rej
*.stackdump
*.tmp
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.env
.fseventsd
.fuse_hidden*
.nfs*
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
env.*
~*